<!-- mt-auto keepts footer at aminimum at the bottom of the page otherwise on the bottom when scrolled all the way down -->
<footer class="footer bg-dark py-3 mt-auto">

    <div class="container">
        <span class="text-muted">&copyYelpCamp</span>
    </div>

</footer>

